body {
    background-color: lightgray; 
    text-align: center; 
    font-family: Arial, sans-serif;
}

#container-jogo {
    background-color: white;
    margin: 50px auto;
    padding: 30px;
    width: 400px;
    border: 2px solid black;
}

#container-jogo input {
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

#container-jogo button {
    padding: 5px 15px;
    font-size: 16px;
    background-color: lightblue;
    border: 1px solid darkblue;
    cursor: pointer;
}

#container-jogo button:hover {
    background-color: deepskyblue;
}

#mensagem {
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
}